.container {
    background-color:rgb(240, 240, 255);
    width: fit-content;
    margin: 0 auto;
    vertical-align: middle;
}
h1 {   
    text-align: center;
    color: rgb(72, 72, 85);
}
div {
    padding: 25px;
    margin: 35px;
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
}
div img {
    height: 200px;
    padding: 15px; 
}
.first{
    background-color: red;
    display: flex;
}
.second {
    background-color: pink;
    justify-content: space-evenly;

}
.third{
    background-color: yellow;
}
footer{
    text-align: center;
}