div {
    border-radius: 4px;
    background-color: grey;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    height: 65px;
}
h1{
    color: white;
}
.nav-links {
    display: flex;
}
li {
    text-align: justify;
    list-style-type: none;
    padding: 0px 15px;
    align-items: center;
}
a, button {
    color: lightgrey;
    text-decoration: none;
    font-size: 12px;
}
.active{
    color: white;
}
.btn {
    background-color: rgb(180, 185, 255);
    color: white;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}

