* {
margin: 3mm;
}
h1 {
    background-color: black;
    color:white;
    font-size: 50pt;
    font-family: sans-serif;
    padding-left: 5mm;
    padding-top: 2mm;
    padding-bottom: 2mm;
}
span {
color:lightblue;
white-space:nowrap;
}
h2{
    background-color: purple;
    color: white;
    text-align:center;
    font-family: monospace;
    font-style: italic;
    font-size: 30pt;
    padding-left: 5mm;
    padding-top: 2mm;
    padding-bottom: 2mm;
}
h3 {
    background-color: lightskyblue;
    color: black;
    text-align: right;
    text-decoration: underline;
    font-size: 20pt;
    padding-right: 5mm;
    padding-top: 2mm;
    padding-bottom: 2mm;
}